body{
    font-family: 'Montserrat', sans-serif;
}

.nav {
    overflow: hidden;
    background-color: #777;
}

.nav a{
    float: left;
    padding: 15px;
    text-decoration: none;
    color: #FFFBFF;
}

.nav a:hover {
    background-color: #888;
    color: #363537;
}

.nav a.active{
    background-color: #52B2CF;
    color: #FFFBFF;
}

.db-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.db-table td, .db-table th{
    border: 1px solid #ccc;
    padding: 5px;
}

.db-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.db-table tr:hover {
    background-color: #ccc;
}

.db-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #52B2CF;
  color: #FFFBFF;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #cecece;
}