body{
    font-family: 'Montserrat', sans-serif;
}

.nav {
    overflow: hidden;
    background-color: #777;
}

.nav a{
    float: left;
    padding: 15px;
    text-decoration: none;
    color: #FFFBFF;
}

.nav a:hover {
    background-color: #888;
    color: #363537;
}

.nav a.active{
    background-color: #52B2CF;
    color: #FFFBFF;
}

.db-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.db-table td, .db-table th{
    border: 1px solid #ccc;
    padding: 5px;
}

.db-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.db-table tr:hover {
    background-color: #ccc;
}

.db-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #52B2CF;
  color: #FFFBFF;
}

#table-sub-header{
    background-color: #777;/*#a8ceda;*/
}

.pop_up{
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #fefefe71;
}

.pop_up_content {
    padding: 10px;
    margin: 50px auto;
    border: 1px solid #52B2CF;
    width: 40%;
    background-color: #fefefe;
}

.pop_up_content h2{
    margin-top: 0;
}

.close {
    color: #999;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #363537;
    text-decoration: none;
    cursor: pointer;
}

.button_header{    
    float: left;
}

.pop_up_button{
    display: inline-block;
    margin-left: 10px;
}

button {
    background-color: #157145;
    border: #57A773 1px solid;
    margin: 5px 0px;
    padding: 10px;
    font-size: 16px;
    color: #FFFBFF;
    cursor: pointer;
}

button:hover {
    background-color: #57A773;
    border: #57A773 1px solid;
}

.red_button {
    background-color: #bb3939;
}

.red_button:hover{
    background-color: #d86565;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #cecece;
}