body{
    font-family: 'Montserrat', sans-serif;
}

.nav {
    overflow: hidden;
    background-color: #777;
}

.nav a{
    float: left;
    padding: 15px;
    text-decoration: none;
    color: #FFFBFF;
}

.nav a:hover {
    background-color: #888;
    color: #363537;
}

.nav a.active{
    background-color: #52B2CF;
    color: #FFFBFF;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: #cecece;
  }